{% extends "base.html" %}
{% block title %}Projects - My Portfolio{% endblock %}
{% block content %}
<h2>My Projects</h2>
<div class="row">
  <div class="col-md-4 mb-4">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Fuzzy Match Tool</h5>
        <p class="card-text">A Python GUI app that matches Excel data using RapidFuzz and Tkinter.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">CRYPTO CRATE</h5>
        <p class="card-text">
            CRYPTO CRATE is a Flask web application that demonstrates various cryptographic algorithms. It allows users to explore how different encryption methods work, see example code, and try encrypting and decrypting messages using popular algorithms like AES, RSA, and more.
        </p>
        <a href="https://github.com/bienvenugashema/crypto_crate">Github Project Link</a>
      </div>
    </div>
  </div>
  
  <div class="col-md-4 mb-4">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">PHP Complaint Resolving Panel</h5>
        <p class="card-text">
            A PHP project for customers to submit complaints and for admins to resolve issues. It features admin and super admin roles, with super admins able to use a built-in chatbot to manage the entire system.
        </p>
        <a href="https://github.com/bienvenugashema/mvc-system">Link</a>
    </div>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">URL SHORTENER</h5>
        <p class="card-text">
            A PHP-based web application that allows users to shorten long URLs, track click statistics, and manage their shortened links with a simple dashboard.
        </p>
        <a href="https://github.com/bienvenugashema/php_url_shortener">Link to github project</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
